---
title: Welcome to Middleman
---
    <div class="ui page grid stackable relaxed feature segment">
      <div class="top-hero row">
        <div class="five wide column">
          <div class="ui large vertical inverted menu">
            <a class="active item">
              奇幻類
              <small><br>魔術．吞劍．噴火</small>
            </a>
            <a class="item">
              樂團類
              <small><br>現代．電子．重金屬</small>
            </a>
            <a class="item">
              演藝類
              <small><br>歌劇．戲曲</small>
            </a>
            <a class="item">
              派對類
              <small><br>現代．電子．重金屬</small>
            </a>
            <div class="item">
              <div class="ui icon input">
                <input type="text" placeholder="Search mail...">
                <i class="search icon"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="eleven wide column">
          <iframe width="1280" height="500" src="//www.youtube.com/embed/YifjhFfYRU4" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div class="ui inverted page grid stackable relaxed feature segment story about">
      <div class="row">
        <div class="column">
          <h1 class="center aligned ui header">
            緣起
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="ten wide column">
          <h2 class="ui header">大家好，我們是 Wanted 表演媒合平台。</h2>

          <p>這個平台的誕生源自於一場慶生會，我們每每為了準備生日禮物而傷透腦筋，諸如卡片、點心、衣服、鞋子等等；然而，真的只能以物質上的東西作為禮物嗎？我們開始思索，並得到了以「表演」作為送禮的方式。</p>

          <p>一首歌、一支舞、一場魔術秀，種種想法不斷蹦出，但是卻因難以找到理想、合適的表演者而受挫。</p>

          <p>因此，我們開始籌措這個表演平台，欲成為想舉辦活動的你或渴望舞台的你的聯結，提供一個快速、多元、透明的平台，藉此讓歡笑傳得更遠、更精采。</p>

          <p>目前平台的建設已逐步完成，希望大家能繼續關注我們，發樓 wanted 表演媒合平台的紛絲團。</p>
          <div class="ui basic inverted animated button button">
            <div class="visible content">Facebook</div>
            <div class="hidden content"><i class="right arrow icon"></i></div>
          </div>
          <div class="ui inverted section divider"></div>
          <h3 class="ui header">最近動態</h3>
          <div class="ui inverted animated selection list">
            <a class="item" href="https://www.facebook.com/601408296612708/photos/a.605172276236310.1073741829.601408296612708/605629852857219/" target="_blank">
              點子市集倒數第 2 天
              <div class="right floated">3 月 26 日</div>
            </a>
          </div>
        </div>
        <div class="six wide column">
          <div class="ui secondary form segment">
            <h3 class="ui header">有興趣加入我們的平台？</h3>
            <p>才華洋溢的你，請留下 Email</p>
            <div class="field">
              <div class="ui left icon action input">
                <i class="user icon"></i>
                <input name="email" type="text" placeholder="ㄜ，先別留，這還沒有功能">
                <div class="ui teal submit button">送出</div>
              </div>
            </div>
            <p><small>ㄜ，先別留，他還沒有功能</small></p>
            <div class="ui error message"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui page grid stackable segment">
      <div class="row">
        <div class="column">
          <h1 class="center aligned ui header">
            多達 3256 位的表演者等著您來發掘
          </h1>
          <div class="ui horizontal divider"><i class="heart icon"></i></div>
        </div>
      </div>
      <div class="center four column aligned row">
        <div class="column">
          <div class="ui text shape">
            <div class="sides">
              <div class="active side">
                 <%= image_tag 'profile_pictures/1.jpg', :class => 'circular ui image' %>
              </div>
              <div class="side">
                <%= image_tag 'profile_pictures/2.jpg', :class => 'circular ui image' %>
              </div>
              <div class="side">
                <%= image_tag 'profile_pictures/3.jpg', :class => 'circular ui image' %>
              </div>
              <div class="side">
                <%= image_tag 'profile_pictures/4.jpg', :class => 'circular ui image' %>
              </div>
              <div class="side">
                <%= image_tag 'profile_pictures/5.jpg', :class => 'circular ui image' %>
              </div>
              <div class="side">
                <%= image_tag 'profile_pictures/6.jpg', :class => 'circular ui image' %>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui text shape">
            <div class="sides">
              <div class="active side">
                 <%= image_tag 'profile_pictures/8.jpg', :class => 'circular ui image' %>
              </div>
              <div class="side">
                <%= image_tag 'profile_pictures/7.jpg', :class => 'circular ui image' %>
              </div>
              <div class="side">
                <%= image_tag 'profile_pictures/6.jpg', :class => 'circular ui image' %>
              </div>
              <div class="side">
                <%= image_tag 'profile_pictures/5.jpg', :class => 'circular ui image' %>
              </div>
              <div class="side">
                <%= image_tag 'profile_pictures/4.jpg', :class => 'circular ui image' %>
              </div>
              <div class="side">
                <%= image_tag 'profile_pictures/3.jpg', :class => 'circular ui image' %>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui text shape">
            <div class="sides">
              <div class="active side">
                 <%= image_tag 'profile_pictures/6.jpg', :class => 'circular ui image' %>
              </div>
              <div class="side">
                <%= image_tag 'profile_pictures/4.jpg', :class => 'circular ui image' %>
              </div>
              <div class="side">
                <%= image_tag 'profile_pictures/8.jpg', :class => 'circular ui image' %>
              </div>
              <div class="side">
                <%= image_tag 'profile_pictures/1.jpg', :class => 'circular ui image' %>
              </div>
              <div class="side">
                <%= image_tag 'profile_pictures/2.jpg', :class => 'circular ui image' %>
              </div>
              <div class="side">
                <%= image_tag 'profile_pictures/3.jpg', :class => 'circular ui image' %>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui text shape">
            <div class="sides">
              <div class="active side">
                 <%= image_tag 'profile_pictures/4.jpg', :class => 'circular ui image' %>
              </div>
              <div class="side">
                <%= image_tag 'profile_pictures/5.jpg', :class => 'circular ui image' %>
              </div>
              <div class="side">
                <%= image_tag 'profile_pictures/6.jpg', :class => 'circular ui image' %>
              </div>
              <div class="side">
                <%= image_tag 'profile_pictures/7.jpg', :class => 'circular ui image' %>
              </div>
              <div class="side">
                <%= image_tag 'profile_pictures/8.jpg', :class => 'circular ui image' %>
              </div>
              <div class="side">
                <%= image_tag 'profile_pictures/1.jpg', :class => 'circular ui image' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
